* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    color: #fff;
}
body {
    background: radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%);
    display: grid;
    place-content: center;
}

a {
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
}
        
form {
    position: relative;
    background-color: #1b2735aa;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
    label {
        color: black;
        position: absolute;
        transition: all 0.5s;
        left: 30px;
        margin: 15px 0;
        transform: translate(.5em, .5em);
    }
    input,
    textarea {
        width: 100%;
        padding: .5em;
        border: 1px solid #ccc;
        margin: 15px 0;
        &:focus + label, &.valide + label{
            transform: translate(0, -25px);
            color: white;
        }   
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 0.5em 1em;
        border: none;
        width: fit-content;
        cursor: pointer;
        margin: auto;
    }
}
